<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>weibo </title>
        <style>
        .comment {
            border: 1px red solid;
        }
    </style>
    </head>
    <body>
        <input id='id-input-weibo'>
        <button id='id-button-add'>发表新微博</button>
        <div id="id-weibo-list">
        </div>
        <!-- 按顺序引入 2 个 js 文件, 后面的 js 文件就能使用前面的文件中的函数了 -->
        <script src='/static?file=base.js'></script>
        <script src='/static?file=weibo.js'></script>
    </body>
</html>